# SMOTE Tutorial

본 튜토리얼은 SMOTE 알고리즘을 이용한 Upsampling으로 Gender 간 공정성을 확보하는 과정을 보여줍니다.

In [4]:
import os.path
import sys
import pandas as pd

filepath = os.path.abspath('./sample.csv') # 1st argument, which is absolute path of csv file
dirname = os.path.dirname(filepath)
filename = os.path.basename(filepath)

data = pd.read_csv(filepath, header = 0) # read_csv with header
Critical = .5 # 2nd argument, which is critical value

count = data.groupby(['gender']).count()
gender_count = [count.loc[0], count.loc[1]] # count and save the number of row for each gender

Major_gender_bit = gender_count[0] < gender_count[1] # if the number of 'gender 1' is larger, set 1
Major_n = int(gender_count[int(Major_gender_bit)])
Minor_n = int(gender_count[int(~Major_gender_bit)])
GB = Major_n / (Major_n + Minor_n)

if(GB > Critical): # Gender-Bias is larger than Critical
    repeat_n = round(Critical * Major_n - (1 - Critical) * Minor_n)
    if int(Major_gender_bit):
        upsample = data.query('gender == 0').sample(repeat_n, replace = True) # upsampling data 'gender' == 0 with replacement
        print("Upsampled with 'gender 0'")
    else : 
        upsample = data.query('gender == 1').sample(repeat_n, replace = True) # upsampling data 'gender' == 1 with replacement
        print("Upsampled with 'gender 1'")
    
    a = filename.split('.')
    filename = a[0] + '_upsampled.' + a[1] # original_name_upsample.csv
    filepath = os.path.join(dirname, filename)
    
    upsampled_data = pd.concat([data, upsample], ignore_index = True)
    upsampled_data.to_csv(filepath)
else :
    print("No need to sample")

Upsampled with 'gender 0'

In [6]:
data

    gender  feature1
0        0         3
1        1         5
2        0         6
3        1         5
4        0         5
5        0         1
6        1         2
7        1         3
8        1         4
9        1         5
10       0         4
11       1         4
12       1         2
13       0         1

In [7]:
upsampled_data

    gender  feature1
0        0         3
1        1         5
2        0         6
3        1         5
4        0         5
5        0         1
6        1         2
7        1         3
8        1         4
9        1         5
10       0         4
11       1         4
12       1         2
13       0         1
14       0         1

<strong>Reference:</strong>

* dnl8145@gmail.com